<div class="apos-editor2-item-buttons apos-ui-group apos-template">
  <div class="apos-ui-container apos-item-actions left">
    <span class="apos-ui apos-ui-btn" data-drag-item><i class="icon-move"></i></span>
  </div>

  <div class="apos-ui-container apos-item-actions right">
    <span class="apos-ui-btn-group">
      <span class="apos-ui apos-ui-btn" data-edit-item><i class="icon-pencil"></i></span>
      <span class="apos-ui apos-ui-btn" data-trash-item><i class="icon-trash"></i></span>
    </span>
  </div>
</div>
