{# Things you can do to a lockup, not an item #}
<div class="apos-editor2-lockup-buttons apos-template">
  <span class="apos-editor2-temp-button" data-drag-item>Drag</span>

  {# This is a template, it will be replaced with an instance for each available #}
  {# lockup type by js. Edit up a storm, but make sure it keeps the apos-template #}
  {# class so it is not visible #}
  <span class="apos-editor2-temp-button apos-template" data-lockup-type>Left</span>

  <span class="apos-editor2-temp-button" data-unlock-item>Unlock</span>
  <span class="apos-editor2-temp-button" data-add-item>Add ▼</span>
</div>
