.apos-editor2-item-buttons
{
  width: 100%;
}

.apos-rich-text:focus
{
  outline: 1px dashed rgba(0,0,0,0.3);

  // For now, I have set outline for none. Can't decide if it is better this way.
  // - kerry
  outline: none;
}

.apos-editor2-hover
{
  background-color: blue;
}

// THIS MUST DIE! Tom's temporary hack for buttons that
// play nice with floated widgets. Please do better, without
// breaking lockups that involve floating.
.apos-editor2-temp-button
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 2px;
  background-color: #def;
  color: black;
  border: 1px solid #abc;
  text-align: left;
}

.apos-editor2-content-menu-options
{
  display: none;
}

.apos-editor2-content-menu
{
  display: inline-block;
  .apos-editor2-temp-button;
}


// rich text content
.apos-rich-text
{
  strong { font-weight: bold; }
  em { font-style: italic; }
}

.ui-tooltip.ui-widget-content
{
  //hiding the default ckeditor tooltips
  display: none !important;
}

@apos-base: rgb(247,160,50);
@apos-base: #dd3226;

@apos-lighten-10: lighten(@apos-base, 8%);

@apos-shade-5: darken(@apos-base, 3%);
@apos-shade-10: darken(@apos-base, 10%);
@apos-shade-20: darken(@apos-base, 20%);
@apos-shade-30: darken(@apos-base, 30%);


/* GREYS */


@apos-grey70: lighten(@apos-grey,70%);
@apos-grey60: lighten(@apos-grey,60%);
@apos-grey50: lighten(@apos-grey,50%);
@apos-grey55: lighten(@apos-grey,55%);
@apos-grey40: lighten(@apos-grey,40%);
@apos-grey30: lighten(@apos-grey,30%);
@apos-grey20: lighten(@apos-grey,20%);
@apos-grey10: lighten(@apos-grey,10%);

@apos-grey: rgb(50,50,50);
@apos-grey-light: rgb(238, 238, 238);

@apos-grey-10: darken(@apos-grey,10%);
@apos-grey-20: darken(@apos-grey,20%);


.apos-bg-gradient {
  /* fallback */
  background-color: @apos-base;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@apos-base), to(@apos-lighten-10));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, @apos-base, @apos-lighten-10);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, @apos-base, @apos-lighten-10);
  /* IE 10 */
  background: -ms-linear-gradient(top, @apos-base, @apos-lighten-10);
}

.apos-border-clip
{
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}



.apos-item
{
  position: relative;
}

.apos-editor2-item-buttons,
.apos-ui-group
{
  width: 100%;
  position: absolute;
  padding: 8px;

  z-index: 1;
}

.apos-editor2-hover
{
  background-color: fadeout(@apos-base, 50%);
}

.apos-editor2-item-separator,
.apos-ui-item-separator
{
  width: 100%;
  height: 15px;
  padding: none;
  border: none;
  border: 1px dashed @apos-base;
  // outline: 1px dashed @apos-base;
  border-radius: 3px;
  margin: 1px;
}
